body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.first-nav {
    /* background: #0072b1; */
    background: linear-gradient(to bottom, #559bc3, #0072b1);
    height: 40px;
    text-align: center;
}
.first-nav ul {
    list-style: none;
    height: 100%;
    padding-right: 15%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}
.first-nav li {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.first-nav a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.first-nav li:hover {
    color: #0072b1;

}